

<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>

      <p>Bonjour à toi, visiteur en quête de potins !</p>
      <p>La liste des potins est actuellement en cours de réalisation</p>
      <p>Mais tu peux en créer un toi-même en cliquant sur ce lien <a href="/gossips/new/">Crée un nouveau potin ici</a>

  </body>
</html>
